/* line 1, /var/www/albalenys/code/app/assets/stylesheets/_backgrounds.css.scss */
.bg-img-1 {
  background: url("/assets/backgrounds/New-York-2f9f0971e72ad073e5e178e34aa4e6bda801e9d28a4b1df9029c12f370887757.jpg") #000 no-repeat;
}

/* line 5, /var/www/albalenys/code/app/assets/stylesheets/_backgrounds.css.scss */
.bg-img-2 {
  background: url("/assets/backgrounds/Starcano-895792f7be1217a776e8afeecd5d5b39081836f2692fa38ec892f75e92248564.jpg") #000 no-repeat;
}

/* line 9, /var/www/albalenys/code/app/assets/stylesheets/_backgrounds.css.scss */
.bg-img-3 {
  background: url("/assets/backgrounds/Colors-of-Bled-68e8092a12e6123994b283758292b450a3f3c5f15be45263b091905dde73e20c.jpg") #000 no-repeat;
}
/* line 3, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-1.line {
  border-bottom: 0.1em dashed #66C2E0;
}
/* line 7, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-1.font {
  color: #66C2E0;
}
/* line 11, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-1.border {
  border-left: solid #66C2E0 0.6em;
}
/* line 15, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-1.background {
  background: #66C2E0;
}

/* line 20, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-1, nav a.primary-color-1:visited {
  box-shadow: 0 0 0 0 #66C2E0 inset;
  color: #FFF;
}

/* line 25, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-1:hover {
  box-shadow: 0 -100px 0 0px #66C2E0 inset;
  color: #000;
}

/* line 33, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-2.line {
  border-bottom: 0.1em dashed #ff6666;
}
/* line 37, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-2.font {
  color: #ff6666;
}
/* line 41, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-2.border {
  border-left: solid #ff6666 0.6em;
}
/* line 45, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-2.background {
  background: #ff6666;
}

/* line 50, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-2, nav a.primary-color-2:visited {
  box-shadow: 0 0 0 0 #ff6666 inset;
  color: #FFF;
}

/* line 55, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-2:hover {
  box-shadow: 0 -100px 0 0px #ff6666 inset;
  color: #000;
}

/* line 63, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-3.line {
  border-bottom: 0.1em dashed #00cc99;
}
/* line 67, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-3.font {
  color: #00cc99;
}
/* line 71, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-3.border {
  border-left: solid #00cc99 0.6em;
}
/* line 75, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-3.background {
  background: #00cc99;
}

/* line 80, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-3, nav a.primary-color-3:visited {
  box-shadow: 0 0 0 0 #00cc99 inset;
  color: #FFF;
}

/* line 85, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-3:hover {
  box-shadow: 0 -100px 0 0px #00cc99 inset;
  color: #000;
}

/* line 93, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-4.line {
  border-bottom: 0.1em dashed #bb99ff;
}
/* line 97, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-4.font {
  color: #bb99ff;
}
/* line 101, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-4.border {
  border-left: solid #bb99ff 0.6em;
}
/* line 105, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.primary-color-4.background {
  background: #bb99ff;
}

/* line 110, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-4, nav a.primary-color-4:visited {
  box-shadow: 0 0 0 0 #bb99ff inset;
  color: #FFF;
}

/* line 115, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
nav a.primary-color-4:hover {
  box-shadow: 0 -100px 0 0px #bb99ff inset;
  color: #000;
}

/* line 122, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.sub-color-1 {
  color: #66C2E0;
}

/* line 127, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.sub-color-2 {
  color: #FF9966;
}

/* line 132, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.sub-color-3 {
  color: #00cc99;
}

/* line 137, /var/www/albalenys/code/app/assets/stylesheets/_colors.css.scss */
.sub-color-4 {
  color: #bb99ff;
}
/* line 1, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.small-container, .large-container, .page-container {
  width: 60%;
  margin: auto;
  min-height: 100%;
}

/* line 7, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.large-container {
  position: relative;
  top: 5em;
  padding-bottom: 6em;
}

/* line 13, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.page-container {
  padding: 8em;
}

/* line 17, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.subtitle {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1em;
}

/* line 24, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.profile {
  border-radius: 13em;
  height: 13em;
  width: 10em;
}

/* line 30, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
table {
  font-family: "Raleway", Verdana, sans-serif;
  font-size: 1em;
  padding: 2em 0;
}

/* line 36, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
tfoot {
  text-align: right;
}

/* line 40, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.blog-list td {
  border: 1px solid #000;
  text-align: center;
}

/* line 45, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
code {
  font-family: monospace;
  color: #999;
}

/* line 50, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
pre {
  background: #222;
  padding: 1em;
  border-radius: 0.6em;
  overflow: auto;
}

/* line 57, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.bordered_table {
  margin: auto;
  font-size: 0.9em;
}
/* line 61, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
.bordered_table td {
  padding: 1em;
  text-align: center;
  border: solid #000 1px;
}

/* line 68, /var/www/albalenys/code/app/assets/stylesheets/body.css.scss */
th {
  color: #999 1em;
}
/* line 1, /var/www/albalenys/code/app/assets/stylesheets/footer.css.scss */
footer {
  background: #000;
  padding: 0.4em;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 0.7em;
}
/* line 9, /var/www/albalenys/code/app/assets/stylesheets/footer.css.scss */
footer a {
  font-weight: normal;
}
/* ----------- All Small Screens (except cell phones) ----------- */
/* line 4, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+33,0+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 33%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 33%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 33%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=0 );
}

/* line 16, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
nav {
  font-size: 1.8em;
}
/* line 19, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
nav a, nav a:visited {
  font-family: 'Open Sans Condensed', sans-serif;
  background: #000;
  padding: 0 0.2em;
  margin: 0.2em;
  border-radius: 0.1em;
  display: block;
  text-align: center;
}
/* line 29, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
nav a:hover {
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
}

/* line 36, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
.socialmedia {
  position: relative;
  right: 1.2em;
}
/* line 40, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
.socialmedia .search-icon {
  width: 1.2em;
  height: 1.2em;
}
/* line 45, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
.socialmedia .search-bar {
  width: 70%;
}

/* line 50, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
.icon {
  width: 2.3em;
  height: 2.3em;
  margin: 0.3em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
/* line 59, /var/www/albalenys/code/app/assets/stylesheets/header.css.scss */
.icon:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 1, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 6, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
#welcome, #blogs, #projects, #about {
  width: 100%;
  min-height: 100%;
}

/* line 11, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
#projects {
  background: #000;
  color: #FFF;
}

/* line 16, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
html {
  font-family: "Raleway", Verdana, sans-serif;
  font-size: 1.1em;
}

/* line 21, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
a, a:visited {
  text-decoration: none;
  font-weight: bold;
}

/* line 26, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
hr {
  border-bottom: solid #999 0.1em;
}

/* line 30, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2.9em;
}

/* line 36, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  margin: 0.1;
}

/* line 42, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
h3 {
  font-family: 'Fjalla One', sans-serif;
  color: #999;
}

/* line 47, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.center {
  text-align: center;
  margin: auto;
}

/* line 52, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.sub {
  color: #999;
  font-size: 0.9em;
}

/* line 57, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.right {
  float: right;
}

/* line 61, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.form-area {
  width: 100%;
  height: 25em;
}

/* line 66, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.form-field {
  width: 70%;
}

/* line 70, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.sub-icon {
  width: 0.7em;
  height: 0.7em;
}

/* line 75, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.blur {
  transition: all 0.25s ease-out;
}

/* line 79, /var/www/albalenys/code/app/assets/stylesheets/main.css.scss */
.remove-border {
  border: none !important;
}
/* line 1, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.private {
  background: #000;
  color: #FFF;
}

/* line 6, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.post-container {
  padding: 8em 12em 2em;
}

/* line 10, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.blog-footer {
  width: 100%;
}
/* line 13, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.blog-footer td {
  width: 5em;
}

/* line 18, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.right-blog {
  text-align: right;
  width: 40%;
}

/* line 23, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.left-blog {
  width: 30%;
}

/* line 27, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
.sub-button {
  color: #000 !important;
  padding: 0.1em 0.5em;
  border-radius: 0.1em;
}

/* line 33, /var/www/albalenys/code/app/assets/stylesheets/post.css.scss */
a.top-button {
  border: none;
}
/* ----------- Cell Phones ----------- */
@media screen and (max-device-width: 800px) {
  /* line 6, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  html {
    font-size: 3em;
  }

  /* line 10, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .blog-footer {
    font-size: 0.8em;
  }
}
/* ----------- Tablets ----------- */
@media screen and (min-width: 801px) {
  /* line 21, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  nav {
    margin: 0.3em;
    float: left;
  }

  /* line 26, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  header a {
    display: inline;
    margin: 0.2em;
    width: 50%;
  }

  /* line 32, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .socialmedia {
    float: right;
  }

  /* line 36, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .index_text {
    width: 22em;
    background: #FFF;
    border-radius: 0.4em;
    padding: 1em;
    margin: auto;
    opacity: 0.9;
  }

  /* line 45, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .small-container {
    width: 60%;
    margin: auto;
    padding-top: 6em;
  }

  /* line 51, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .large-container {
    margin: auto;
    padding-top: 2em;
    width: 60%;
  }

  /* line 57, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .profile {
    float: right;
    text-align: none;
  }

  /* line 62, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  hr {
    border-top: #999;
  }

  /* line 66, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  .search-bar {
    width: 20em;
  }
}
/* ----------- Laptops ----------- */
@media screen and (min-width: 1000px) {
  /* line 77, /var/www/albalenys/code/app/assets/stylesheets/responsive.css.scss */
  #welcome {
    background-size: cover;
  }
}
/*


 */
