/* line 1, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.small-container, .large-container, .page-container {
  width: 60%;
  margin: auto;
  min-height: 100%;
}

/* line 7, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.large-container {
  position: relative;
  top: 5em;
  padding-bottom: 6em;
}

/* line 13, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.page-container {
  padding: 8em;
}

/* line 17, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.subtitle {
  color: #66C2E0;
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
  margin-bottom: 1em;
}

/* line 25, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.profile {
  border-radius: 13em;
  height: 13em;
  width: 10em;
}

/* line 31, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
table {
  font-family: "Raleway", Verdana, sans-serif;
  font-size: 1em;
  padding: 2em 0;
}

/* line 37, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
tfoot {
  text-align: right;
}

/* line 41, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.blog-list td {
  border: 1px solid #000;
  text-align: center;
}

/* line 46, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
code {
  font-family: monospace;
  color: #999;
}

/* line 51, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
pre {
  background: #222;
  padding: 1em;
  border-left: solid #66C2E0 0.6em;
  border-radius: 0.6em;
  white-space: pre-line;
}

/* line 59, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.bordered_table {
  margin: auto;
  font-size: 0.9em;
}
/* line 63, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
.bordered_table td {
  padding: 1em;
  text-align: center;
  border: solid #000 1px;
}

/* line 70, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/body.css.scss */
th {
  color: #999 1em;
}
/* line 1, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/footer.css.scss */
footer {
  background: #000;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 0.7em;
}
/* ----------- All Small Screens (except cell phones) ----------- */
/* line 4, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #FFF;
}
/* line 11, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
header a {
  border-style: none;
}

/* line 16, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
nav {
  font-size: 1.9em;
}
/* line 19, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
nav a, nav a:visited {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFF;
  background: #000;
  padding: 0 0.2em;
  margin: 0.2em;
  border-radius: 0.1em;
  display: block;
  text-align: center;
  box-shadow: 0 0 0 0 #66C2E0 inset;
}
/* line 31, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
nav a:hover {
  box-shadow: 0 -100px 0 0px #66C2E0 inset;
  color: #000;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
}

/* line 40, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
.socialmedia {
  position: relative;
  right: 1.2em;
}
/* line 44, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
.socialmedia .search-icon {
  width: 1.2em;
  height: 1.2em;
}
/* line 49, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
.socialmedia .search-bar {
  width: 70%;
}

/* line 54, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
.icon {
  width: 2.3em;
  height: 2.3em;
  margin: 0.3em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
/* line 63, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/header.css.scss */
.icon:hover {
  -webkit-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes wobble {
  16.65% {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 1, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
html, body {
  margin: 0;
  height: 100%;
}

/* line 6, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
#welcome, #blogs, #projects, #about {
  width: 100%;
  min-height: 100%;
}

/* line 11, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
#welcome {
  background: url("background.jpg") #000 no-repeat;
}

/* line 15, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
#projects {
  background: #000;
  color: #FFF;
}

/* line 20, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
html {
  font-family: "Raleway", Verdana, sans-serif;
  font-size: 1.1em;
}

/* line 25, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
a, a:visited {
  text-decoration: none;
  border-bottom: 0.1em dashed #66C2E0;
  font-weight: bold;
  color: #FF9966;
}

/* line 32, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
hr {
  border-bottom: solid #999 0.1em;
}

/* line 36, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 2.9em;
}

/* line 42, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
  margin: 0.1;
}

/* line 48, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
h3 {
  font-family: 'Fjalla One', sans-serif;
  color: #999;
}

/* line 53, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.center {
  text-align: center;
  margin: auto;
}

/* line 58, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.sub {
  color: #999;
  font-size: 0.9em;
}

/* line 63, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.right {
  float: right;
}

/* line 67, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.form-area {
  width: 100%;
  height: 25em;
}

/* line 72, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.form-field {
  width: 70%;
}

/* line 76, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.sub-icon {
  width: 0.7em;
  height: 0.7em;
}

/* line 81, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/main.css.scss */
.blur {
  transition: all 0.25s ease-out;
}
/* line 1, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.private {
  background: #000;
  color: #FFF;
}

/* line 6, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.blog-footer {
  width: 100%;
}
/* line 9, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.blog-footer td {
  width: 5em;
}

/* line 14, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.right-blog {
  text-align: right;
  width: 40%;
}

/* line 19, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.center-blog {
  text-align: center;
  width: 30%;
}

/* line 24, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.left-blog {
  width: 30%;
}

/* line 28, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
.sub-button {
  color: #000 !important;
  background: #66C2E0;
  padding: 0.1em 0.5em;
  border-radius: 0.1em;
}

/* line 35, /Users/Abby/Documents/Programming/DevAdventures/app/assets/stylesheets/post.css.scss */
a.top-button {
  border: none;
}
/* ----------- Cell Phones ----------- */


@media screen
  and (max-device-width: 800px) {
    html {
      font-size: 3em;
    }

    .blog-footer {
      font-size: 0.8em
    }
  }


/* ----------- Tablets ----------- */

@media screen
  and (min-width: 801px) {

  nav {
    margin: 0.3em;
    float: left;
  }

  header a {
    display: inline;
    margin: 0.2em;
    width: 50%;
  }

  .socialmedia {
    float: right;
  }

  .index_text {
    width: 22em;
    background: #FFF;
    border-radius: 0.4em;
    padding: 1em;
    margin: auto;
    opacity: 0.9;
  }

  .small-container {
    width: 60%;
    margin: auto;
    padding-top: 6em;
  }

  .large-container {
    margin: auto;
    padding-top: 2em;
    width: 60%;
  }

  .profile {
    float: right;
    text-align: none;
  }

  hr {
    border-top: #999;
  }

  #welcome {
    background: url("background.jpg") #000 no-repeat;
  }

  .search-bar {
    width: 20em;
  }
}


/* ----------- Laptops ----------- */

@media screen
  and (min-width: 1000px) {

  header {
    background-color: transparent;
  }

  #welcome {
    background-size: cover;
  }
}
/*


 */
