.bg-img-1 {
	background: url(image-path("backgrounds/New-York.jpg")) black no-repeat;
}

.bg-img-2 {
	background: url(image-path("backgrounds/Starcano.jpg")) black no-repeat;
}

.bg-img-3 {
	background: url(image-path("backgrounds/Colors-of-Bled.jpg")) black no-repeat;
}