$light-blue: #66C2E0;
nav a.hover-color-0:hover {
  box-shadow: 0 -100px 0 0px $light-blue inset !important;
}


$red-orange: #ff6666;
nav a.hover-color-1:hover {
  box-shadow: 0 -100px 0 0px $red-orange inset !important;
}


$teal-green: #00cc99;
nav a.hover-color-2:hover {
  box-shadow: 0 -100px 0 0px $teal-green inset !important;
}


$purple: #bb99ff;
nav a.hover-color-3:hover {
  box-shadow: 0 -100px 0 0px $purple inset !important;
}


$yellow: #FFE593;
nav a.hover-color-4:hover {
  box-shadow: 0 -100px 0 0px $yellow inset !important;
}
