/* ----------- Cell Phones ----------- */

@media screen
  and (max-device-width: 800px) {
    html {
      font-size: 2.7em;
    }

    header {
      display: block;
    }
  }


/* ----------- Tablets ----------- */

@media screen
  and (min-width: 801px) {
  .profile {
    float: right;
    text-align: none;
  }
}


/* ----------- Laptops ----------- */

@media screen
  and (min-width: 1000px) {

  #welcome {
    background-size: cover;
  }
}
