/* ----------- Cell Phones ----------- */

@media screen
  and (max-device-width: 800px) {
    html {
      font-size: 3em;
    }
  }


/* ----------- Tablets ----------- */

@media screen
  and (min-width: 801px) {

  .index_text {
    width: 22em;
    background: #FFF;
    border-radius: 0.4em;
    padding: 1em;
    margin: auto;
    opacity: 0.9;
  }

  .small-container {
    width: 60%;
    padding-top: 6em;
  }

  .profile {
    float: right;
    text-align: none;
  }
}


/* ----------- Laptops ----------- */

@media screen
  and (min-width: 1000px) {

  #welcome {
    background-size: cover;
  }
}
