/* -------- Cell Phones -------- */

@media screen and (max-device-width: 800px) {
  body {
    font-size: 2.5em;

    header {
      display: block;

      nav {
        display: flex;
        justify-content: space-around;
      }

      #socialmedia {
        flex-direction: row;
        align-items: flex-start;

        #sociallinks {
          width: 60%;

          .fa {
            font-size: 1.8em;
            margin: 5px;
          }
        }

        form {
          display: flex;
          width: 40%;

          input[type=text] {
            width: 90%;
          }
        }
      }
    }

    section {
      padding: 30% 8%;

      .profile {
        float: none;
      }
    }
  }
}


/*
  -------- Tablets --------
  @media screen and (min-width: 801px)


  -------- Laptops --------
  @media screen and (min-width: 1000px)
*/
