/* ----------- All Small Screens (except cell phones) ----------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1em;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.6+33,0+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 33%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 33%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 33%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ffffff', endColorstr='#00ffffff',GradientType=0 );

  nav {
    font-size: 1.8em;

    a, a:visited {
      font-family: 'Open Sans Condensed', sans-serif;
      background: black;
      padding: 0 0.2em;
      border-radius: 0.1em;
      color: white;
    }

    a:hover {
      transition: all ease 1s;
      -webkit-transition: all ease 1s;
      -moz-transition: all ease 1s;
      color: black;
    }
  }

  #socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;

    #sociallinks .fa {
      color: black;
    }

    input[type=text] {
      width: 15em;
      opacity: 0.4;
      filter: alpha(opacity=40); /* For IE8 and earlier */

      &:focus {
        opacity: inherit;
      }
    }
  }
}

