#welcome {
  background-size: cover;
  
  h1 {
    cursor: pointer;
  }
}

#projects {
  background: black;
  color: white;

  div[id^='project-'] {
    border-top: solid #ddd 1px;
    padding: 1em 0;
  }
}

#about {
  .profile {
    border-radius: 13em;
    height: 13em;
    width: 13em;
  }
}

.blurScroll {
  transition: all 0.25s ease-out;
}
