#welcome, #blogs, #projects, #about {
  width: 100%;
  height: 100vh;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.4em;
    margin-bottom: 3em;
    cursor: pointer;
  }
}

#projects {
  background: black;
  color: white;

  div[id^='project-'] {
    border-top: solid #ddd 1px;
    padding: 1em 0;
  }
}

#about {
  .profile {
    border-radius: 13em;
    height: 13em;
    width: 13em;
  }
}

.blurScroll {
  transition: all 0.25s ease-out;
}