/* Blog post */

#post-content {
  border-top: solid #ddd 1px;
  border-bottom: solid #ddd 1px;
  padding: 1em;
}

.private {
  background: black;
  color: white;
  text-align: center;
}

/* Inside post content */

.bordered_table {
  margin: auto;

  td {
    padding: 1em;
    border: solid black 1px;
  }
}

/* Resources Section */

#resource-list {
  margin-top: 0;
}

/* Tags Section */

#tags {
  display: flex;
  align-items: center;
}

.tag {
  background: #404040;
  padding: 0.1em 0.7em;
  border-radius: 5px;
  margin: 0.2em;
}

/* Blog Post Nav */

#blog-nav {
  border-top: solid #ddd 1px;
  padding: 2em 0;

  #next-post {
    float: left;
  }

  #prev-post {
    float: right;
  }

  #next-post, #prev-post {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    color: black !important /* override added border in js script */;
    width: 30%;

    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .fa {
      font-size: 2em;
    }
  }
}
