<footer>
  <a class="top-button" href="#top">
    <%= image_tag("top-icon.png", class: "icon") %>
  </a>
  <p>
    ( C ) 2015 <%= link_to "Albalenys De Los Santos", "https://github.com/albalenys", target: "_blank" %>. All rights reserved.
    <div class="center">
      <script language="JavaScript" type="text/javascript">
        TrustLogo("http://localhost:3000/assets/comodo_secure_seal-133f96ceac619d2317cd9e4e3e9f40f30929fb612c170231cb400953d3546602.png", "CL1", "none");
      </script>
      <a  href="https://ssl.comodo.com" id="comodoTL">Comodo SSL</a>
    </div>
  </p>
</footer>
