<footer>
  <a class="top-button" href="#top"><%= image_tag("top-icon.png", class: "icon") %></a>
  <p>( C ) 2015 <%= link_to "Abby De Los Santos", "https://github.com/albalenys", target: "_blank" %> </p>
</footer>
