<div id="top">
</div>

<div id="welcome" class="blurScroll">
  <h1>
    Developing Adventures
    <span class="subtitle">...</span>
  </h1>
</div>

<div id="blogs">
  <div class="large-container">
    <%= render 'posts/index' %>
  </div>
</div>

<div id="projects">
  <div class="large-container">
    <%= render 'projects/index' %>
  </div>
</div>

<div id="about">
  <div class="small-container">
    <%= render 'about/index' %>
  </div>
</div>
