<section id="welcome" class="blurScroll">
  <h1>
    Developing Adventures
    <span id="main-heading">...</span>
  </h1>
</section>

<section id="blogs">
  <%= render 'posts/index' %>
</section>

<section id="projects">
  <%= render 'projects/index' %>
</section>

<section id="about">
  <%= render 'about/index' %>
</section>
