<div id="welcome" class="blurScroll">
  <h1>
    Developing Adventures
    <span id="main-heading">...</span>
  </h1>
</div>

<div id="blogs" class="large-container">
  <%= render 'posts/index' %>
</div>

<div id="projects" class="large-container">
  <%= render 'projects/index' %>
</div>

<div id="about" class="large-container">
  <%= render 'about/index' %>
</div>
