<div id="welcome">
  <div class="welcome-container">
    <h1 class="center">Developing Adventures</h1>
    <div class="subtitle">from a Beginner Developer</div>
  </div>
</div>

<div id="blogs">
  <%= render 'posts/index' %>
</div>

<div id="projects">
  <%= render 'projects/index' %>
</div>

<div id="about">
  <div class="about-container">
    <%= render 'about/index' %>
  </div>
</div>
