<main>
  <h1 class="center">Developing Adventures</h2>
  <div class="subtitle">from a Beginner Developer</div>

  <div class="index_text">
    <h3>Most Recent Work</h3>
    July 25, 2015<br>
    <ul>
      <li>
        <a href="blog/c9-questions">Asking Smart Questions</a>
      </li>
    </ul>
    July 20, 2015<br>
    <ul>
      <li>
        <a href="blog/t8-tech">Decrypting Regexps in Ruby</a>
      </li>
    </ul>
  </div>
</main>