<div id="welcome">
  <h1 class="center">Developing Adventures</h1>
  <div class="subtitle">from a Beginner Developer</div>
  Lets's test this block.
</div>

<div id="blog-index">
  <%= render 'posts/index' %>
</div>
