<main>
  <h2 class="center">Projects</h2>
  <hr>
  <h3><a href="cheat-sheet.html">Ruby Cheat Sheet</a></h3>
  <p>Short Ruby cheatsheet that quickly explains numbers, strings, arrays and hashes.<br>
  Created to be used as a resource during my stay at Dev Bootcamp. The cheatsheet currently doesn't cover much but more material will added to it soon.</p>
  <hr>
</main>