<main>
  <h2 class="center">Projects</h2>
  <% if logged_in? %>
    <div class="center">
      <%= link_to "Add Project", new_project_path, class: "sub-button" %>
    </div>
  <% end %>
  <% @projects.each do |project| %>
    <%= link_to "#{project.title}", project.url %><br>
    <div class="sub">
      Software used: <%= project.software %>
    </div>
    <p><%= project.description %></p>
  <% end %>
</main>