<div id="tags">
	<% if !taggable.tags.empty? || logged_in? %>
		<h3>
			<% if logged_in? %>
				<%= link_to fa_icon("plus-circle", alt: "Add Tag"), taggable.is_a?(Project) ? new_project_tag_path(taggable) : new_post_tag_path(taggable), remote: true %>
			<% end %>
			Tags
		</h3>
	<% end %>

	<div id="tag-list">
		<% taggable.tags.each do |tag| %>
			<%= render "tags/tag", tag: tag, taggable: taggable %>
		<% end %>
	</div>
</div>