<div id="tags-container">
  <% if logged_in? %>
    <%= link_to image_tag("plus-icon.png", alt: "Add Tag", class: "icon"), new_post_tag_path(@post.id), class: "remove-border", remote: true %>
  <% end %>

  <% unless @post.tags.empty? %>
    <h3>Tags</h3>
  <% end %>

  <div id="tag-list">
    <% @post.tags.each do |tag| %>
      <%= render partial: "tags/tag", object: tag %>
    <% end %>
  </div>
</div>