<div id="tag-form">
  <span class="center">
    <%= flash[:error] %>
  </span>

  <%= form_for [@taggable, @tag], remote: true do |f|%>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.submit "+" %>
  <% end %>
</div>
