<div class="large-container">
  <h1 class="center" id="post-title">
    <%= @tag.name %> Tag
  </h1>
  <hr>

  <% unless @posts_by_month.empty? %>
    <p>
      <%= render "posts/index" %>
    </p>
  <% end %>

  <% unless @projects.empty? %>
    <p>
      <%= render "projects/index" %>
    </p>
  <% end %>
</div>