<div class="large-container">
	<h1 class="center">Blog Category <%= @tag.name %></h1>

	<% @posts.each do |post| %>
    <ul>
      <li><%= timestamp(post) %>: <%= link_to post.title, post_path(post) %></li>
    </ul>
	<% end %>
</div>