<div id="resource-heading-container">
  <% if !@post.resources.empty? || logged_in? %>
    <h3>
      <% if logged_in? %>
        <%= link_to fa_icon("plus-circle", alt: "Add Resource"), new_post_resource_path(@post.id), class: "remove-border", remote: true %>
      <% end %>
      Further Resources
    </h3>
  <% end %>
</div>

<ul id="resource-list">
  <% @post.resources.each do |resource| %>
    <%= render partial: "resources/resource", object: resource %>
  <% end %>
</ul>