<p>
  <div class="center">
    <% if logged_in? %>
      <%= link_to "Add Resource", new_post_resource_path(@post.id), class: "sub-button", remote: true %>
    <% end %>
  </div>

  <% unless @post.resources.empty? %>
    <h4 class="center">Further Resources</h4>
  <% end %>

  <ul id="resource-list">
    <% @post.resources.each do |resource| %>
      <%= render partial: "resources/resource", object: resource %>
    <% end %>
  </ul>
</p>