<li id=<%= "resource-#{resource.id}" %>>
	<span class="underlineLinks">
  	<%= link_to "#{resource.title}", resource.url, target: "_blank" %>
  </span>

  <% if logged_in? %>
    <span class="edit-links hidden">
      <%= link_to fa_icon("edit"), edit_post_resource_path(@post, resource), format: :js, remote: true %>
      <%= link_to fa_icon("trash"), post_resource_path(@post, resource), method: "DELETE", format: :js, remote: true %>
    </span>
  <% end %>
</li>