<main>
  <h2 class="center">Add Resource</h2>
  <div class="sub">
    To blog post "<%= @post.title %>"
  </div>
  <%= flash[:error] %>
  <hr>

  <%= form_for @resource, url: post_resources_path, method: "POST", html: {class: "center"} do |f|%>
    <%= render "form" %>
  <% end %>
</main>