<hr>
  <p>
    <table class="blog-footer">
      <tr>
        <td class="left-blog"><a class="footer-button" href="#">Next</a></td>
        <td class="center-blog"><a class="top-button" href="#top"><%= image_tag("top-icon.png", class: "icon") %></a></td>
        <td class="right-blog"><a class="footer-button" href="#">Previous</a></td>
      </tr>
    </table>
  </p>