<hr>
<p>
  <table class="blog-footer">
    <tr>
      <td class="left-blog">
        <% if @next_post %>
          <%= link_to "Next", post_path(@next_post), class: "sub-button" %>
        <% end %>
      </td>
      <td class="right-blog">
        <% if @previous_post %>
          <%= link_to "Previous", post_path(@previous_post), class: "sub-button" %>
        <% end %>
      </td>
    </tr>
  </table>
</p>