<main>
  <h2 class="center">Create Blog Post</h2>
  <hr>
  <%= form_for @post, html: {class: "center"} do |f|%>
    Title: <%= f.text_field :title %><br>
    <%= f.text_area :content, html: {class: "create_post"} %><br>
    <%= f.submit "Submit" %>
  <% end %>
</main>
