<h1 class="center">About</h1>
<hr>
<div class="center">
  <%= image_tag("profile.jpeg", alt: "Abby De Los Santos", class: "profile") %>
</div>

<p>
	My name is Albalenys (pronounced <em>Al-ba-leh-knees</em>) De Los Santos, but I'm more commonly known as <strong>Abby</strong> or <strong>Alba</strong>. I'm a <a href="https://github.com/albalenys" target="_blank">web developer</a> who made the transition from teaching and English Literature. This space is a medium to solidify programming concepts, document issues, and explore the culture of the tech industry-- especially from the perspective of a still new developer. I am also interested in attending meetups, hackathons, and immersing myself in the community.
</p>
<p>
	Apart from tinkering with code, I enjoy reading, writing, drawing, and playing video games. Essentially I always strive to find new ways to create things and express myself. <a href="mailto:www.AlbalenysD@gmail.com">Let me know</a> if you would be interested in working together or if there are any interesting events coming up.
</p>