<main>
  <h2 class="center">About</h2>
  <hr>
  <div class="center">
    <img class="profile" src="imgs/profile.jpg" alt="Abby De Los Santos">
  </div>

  <p>My name is Albalenys (pronounced <em>Al-ba-leh-knees</em>) De Los Santos, but I'm more commonly known as <strong>Abby</strong>. Aside from being a student at Dev Bootcamp, I'm also a Computer Science student at New York's City College.</p>
  <p>I have recently made the switch from English Literature to Computer Science, because, quite simply, I love to code. Aside from coding, I also enjoy reading, writing, drawing, playing video games, and learning new things.</p>
  <p>If you would like to contact me outside of social media, feel free to email <a href="mailto:www.AlbalenysD@gmail.com">AlbalenysD@gmail.com</a>.</p>
  <hr>
</main>