.small-container, .large-container {
  width: 60%;
  margin: auto;
  min-height: 100%;
}

.large-container {
  position: relative;
  top: 5em;
  padding-bottom: 6em;
}

.profile {
  border-radius: 13em;
  height: 13em;
  width: 13em;
}

table {
  font-family: "Raleway", Verdana, sans-serif;
  font-size: 1em;
  padding: 2em 0;
}

tfoot {
  text-align: right;
}

.blog-list td {
  border: 1px solid #000;
  text-align: center;
}

code {
  font-family: monospace;
  background: #eee;
  padding: 1px;
}

pre {
  background: #222;
  padding: 1em;
  border-radius: 0.6em;
  overflow: auto;
}

.bordered_table {
  margin: auto;
  font-size: 0.9em;

  td {
    padding: 1em;
    text-align: center;
    border: solid #000 1px;
  }
}

th {
  color: #999 1em;
}



