.private {
  background: #000;
  color: #FFF;
}

.post-container {
  padding: 8em 8em 2em;
}

.blog-footer {
  width: 100%;

  td {
    width: 5em;
  }
}

.right-blog {
  text-align: right;
  width: 40%;
}

.left-blog {
  width: 30%;
}

.sub-button {
  color: #000 !important;
  background: #66C2E0;
  padding: 0.1em 0.5em;
  border-radius: 0.1em;
}

a.top-button {
  border: none;
}
