/* ----------- Cell Phones ----------- */

@media screen
  and (max-device-width: 970px) {
    html {
      font-size: 3em;
    }

    .blog-footer {
      font-size: 0.8em
    }
  }


/* ----------- Tablets ----------- */

@media screen
  and (min-width: 971px)
  and (max-width: 1415px) {

  nav {
    position: relative;
    float: left;
    margin: 0.3em;
  }

  header a {
    display: inline;
    margin: 0.2em;
    width: 50%;
  }

  .index_text {
    width: 22em;
    background: #FFF;
    padding: 1em;
    margin: auto;
  }

  .profile {
    float: right;
    text-align: none;
  }

  hr {
    border-top: #999;
  }

  .index_background {
    background: url("railroad_background.jpg") #000 no-repeat;
  }

  .search-bar {
    width: 20em;
  }
}


/* ----------- Laptops ----------- */

@media screen
  and (min-width: 1416px)
  and (min-device-width: 1501px) {

  header {
    position: fixed;
  }

  header a {
    display: inline;
    margin: 0.2em;
  }

  nav {
    position: relative;
    float: left;
    margin: 0.3em;
  }

  aside {
    text-align: none;
    padding-top: 0;
    float: right;
    margin: 0.3em;
  }

  .index_background {
    background: url("railroad_background.jpg") #000 no-repeat;
    background-size: cover;
  }

  .index_text {
    width: 22em;
    background: #FFF;
    padding: 1em;
    margin: auto;
  }

  .profile {
    float: right;
    text-align: none;
  }

  hr {
    border-top: #999;
  }
}
