<header>
  <nav>
    <%= link_to "Home", root_path, class: "button" %>
    <%= link_to "Blog", posts_path, class: "button" %>
    <%= link_to "Projects", projects_path, class: "button" %>
    <%= link_to "About", about_path, class: "button" %>
  </nav>

  <aside>
    <a href="https://twitter.com/albalenys_" target="_blank" title="Follow me on Twitter!"><img class="icon" src="http://albalenys.com/imgs/twitter-icon.svg" alt="Twitter"></a>
    <a href="https://www.facebook.com/Albalenys" target="_blank" title="Check me out on Facebook!"><img class="icon" src="http://albalenys.com/imgs/facebook-icon.svg" alt="Facebook"></a>
    <a href="https://plus.google.com/u/0/+AbbyDeLosSantos/" target="_blank" title="Check me out on Google+!"><img class="icon" src="http://albalenys.com/imgs/googleplus-icon.png" alt="Google+">
    <a href="https://github.com/albalenys" target="_blank" title="Follow me on GitHub!"><img class="icon" src="http://albalenys.com/imgs/github-icon.png" alt="GitHub"></a>
    <a href="https://www.linkedin.com/in/albalenys" target="_blank" title="Check me out on Linkedin!"><img class="icon" src="http://albalenys.com/imgs/linkedin-icon.svg" alt="Linkedin"></a>
  </aside>
</header>